.code{
  padding: 40px 150px 90px 150px;
  background: linear-gradient(to right, #090909, #2e2e2e);
}

.code1{
  padding: 20px 150px 0px 150px;
  background: linear-gradient(to right, #090909, #2e2e2e);
}

.code1 h1{
  margin-bottom: 0px;
}

.prompt{
  padding: 80px 0 160px 0;
}

.prompt1{
  padding: 50px 0 80px 0;
}