.code{
  padding: 70px 150px 200px 150px;
  background: linear-gradient(to right, #090909, #2e2e2e);
}

.code1{
  padding: 50px 150px 0px 150px;
  background: linear-gradient(to right, #090909, #2e2e2e);
}

.code1 h1{
  margin-bottom: 0px;
}

.prompt{
  padding: 80px 0 160px 0;
}