@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}

body {
    width: 100%;
}

/*Header shart */

/* Dropdown Button */
.dropdown-toggle {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 200px;
    list-style: none;
    padding: 0;
}

/* Dropdown Menu Items */
.dropdown-links {
    padding-top: 5px;
    padding-left: 20px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style the dropdown links */
.dropdown-menu li link {
    text-decoration: none;
    display: block;
    padding: 10px;
}

#mainLogo {
    height: 80px;
    margin-left: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;

}

.navigators {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ede192;

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #b69452;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

a {
    cursor: pointer;
    /* Change cursor to pointer for all anchor tags */
}

a:hover {
    cursor: crosshair;
    /* Change cursor to crosshair when hovering over anchor tags */
}



/* Dark Mode */
.dark-mode,
.dark-mode #header,
.dark-mode .code1,
.dark-mode .code {
    background: linear-gradient(to right, #090909, #2e2e2e);
    /* background-image: url('./images/dark-background2.jpg'); */
    color: #fff;
    /* background-size:cover;
    background-repeat: no-repeat; */
}

.dark-mode .toggle-slider {
    background-color: #fff;
}

.dark-mode .dropdown-menu {
    background: linear-gradient(to right, #090909, #2e2e2e);
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}

.dark-mode #navbar li a,
.dark-mode p {
    color: white;
}

.dark-mode .feature-plate-yellow:hover,
.dark-mode .feature-plate-purple:hover,
.dark-mode .feature-plate-blue:hover,
.dark-mode .feature-plate-green:hover,
.dark-mode .feature-plate-red:hover,
.dark-mode .feature-plate-orange:hover,
.dark-mode .feature-plate-pink:hover {
    color: black;
}

.dark-mode .translucent-select,
.dark-mode .translucent-input {
    background-color: rgba(255, 255, 255, 0.5);
}






/* Light Mode */
.light-mode,
.light-mode #header,
.light-mode .code1,
.light-mode .code {
    /* background: linear-gradient(to right, #fefefe, #cbcbcb); */
    background-image: url('./images/light-background1.jpg');
    background-repeat: no-repeat;
    background-size:auto;
    color: #000;
}

.light-mode .toggle-slider {
    background-color: #000;
}

.light-mode .dropdown-menu {
    background: linear-gradient(to right, #fefefe, #cbcbcb);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.light-mode #navbar li a,
.light-mode p {
    color: black
}

.light-mode .feature-plate-yellow:hover,
.light-mode .feature-plate-purple:hover,
.light-mode .feature-plate-blue:hover,
.light-mode .feature-plate-green:hover,
.light-mode .feature-plate-red:hover,
.light-mode .feature-plate-orange:hover,
.light-mode .feature-plate-pink:hover {
    color: white;
}

.light-mode .feature-plate-yellow,
.light-mode .feature-plate-purple,
.light-mode .feature-plate-blue,
.light-mode .feature-plate-green,
.light-mode .feature-plate-red,
.light-mode .feature-plate-orange,
.light-mode .feature-plate-pink {
    background-color: white;
}

.light-mode .translucent-select,
.light-mode .translucent-input {
    background-color: rgba(195, 195, 195, 0.884);
}







/* Toggle Switch */
.toggle-switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    position: sticky;
    cursor: pointer;
    top: 120px;
    left: 1350px;
}

.toggle-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.dark-mode .toggle-slider {
    transform: translate(20px, -50%);
}

.light-mode .toggle-slider {
    transform: translate(2px, -50%);
}


/* Button styling */

.golden-button {
    background-color: #c99250; /* Gold color */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    font-weight:400;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .golden-button:hover {
    background-color: #FFC300; /* Slightly darker gold */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .golden-button:active {
    background-color: #FFA500; /* Even darker gold */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
  