@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
    
}

body{
    width: 100%;
}

/*Header shart */

/* Dropdown Button */
.dropdown-toggle {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background: linear-gradient(to right,#090909, #2e2e2e);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    list-style: none;
    padding: 0;
}
                              
/* Dropdown Menu Items */
.dropdown-links{
    padding-top: 5px;
    padding-left: 20px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style the dropdown links */
.dropdown-menu li link {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* Change color of dropdown links on hover 
.dropdown-menu li a:hover {
    background-color: #f2f2f2;
}
*/

#mainLogo{
    height: 80px;
    margin-left: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,#090909, #2e2e2e);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    
}

.navigators{
    list-style: none;
    padding: 0 20px;
    position: relative; 
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#cacaca;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ede192;
    
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#b69452;
    position:absolute;
    bottom: -4px;
    left: 20px;

}

a {
    cursor: pointer; /* Change cursor to pointer for all anchor tags */
  }
  
  a:hover {
    cursor: crosshair; /* Change cursor to crosshair when hovering over anchor tags */
  }
  

